.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.login-card {
    width: 380px;
    text-align: left;
}

.login-card h2 {
    margin: 0 0 8px 0
}

.login-card input {
    height: 40px
}